<div ng-controller="taskController">
    <h3>Return all users, movies, ratings.</h3>
    <table class="table table-bordered table-striped" ng-init="getUsers()">
        <h3>Users
        </h3>
        <tr>
            <th>Id</th>
            <th>Name</th>

        </tr>
        <tr  ng-model="users" ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
        </tr>
    </table>
    <br/>
    <table class="table table-bordered table-striped" ng-init="getMovies()">
        <h3>Movies
        </h3>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Director</th>
        </tr>
        <tr  ng-model="movies" ng-repeat="movie in movies">
            <td>{{movie.id}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.director}}</td>
        </tr>
    </table>
    <br/>
    <table class="table table-bordered table-striped" ng-init="getRatings()">
        <h3>Ratings
        </h3>
        <tr>
            <th>Id</th>
            <th>Movie id</th>
            <th>User id</th>
            <th>Rating</th>
            <th>Date</th>
        </tr>
        <tr  ng-model="ratings" ng-repeat="rating in ratings">
            <td>{{rating.id}}</td>
            <td>{{rating.movie.id}}</td>
            <td>{{rating.user.id}}</td>
            <td>{{rating.rating}}</td>
            <td>{{rating.date| date:'yyyy-MM-dd'}}</td>
        </tr>
    </table>

</div>